@import '../../styles/variables.scss';

.wrapper {
  padding: 10px;
  position: relative;
}

.title {
  font-size: 32px;
  color: $turquoise-dark;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.cardArea {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.error {
  color: $salmon;
  padding: 30px;
  font-size: 38px;
}