@import '../../styles/variables.scss';

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.card {
  border: 2px solid $turquoise-dark;
  padding: 10px;
  border-radius: 15px;
  background-color: $turquoise;
  width: 500px;
}

.cardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.userInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid $turquoise-dark;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: $turquoise-dark;
  font-size: 22px;
}

.info {
  color: white;
}

.button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.icon {
  color: red;

  &:hover {
    transform: scale(1.2);
  }
}
